
.containerWrapper{
    border: 1px solid purple;
    /* position: relative; */
    width: 100%;
}

.container {
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
}

.linkWrapper {
    margin-left: 1rem;
    border: 1px solid red;
}
.navLink {
    border: 1px solid yellow;
    color: var(--text-color-opac-8);
    /* border: 1px solid blue; */
    width : 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.notificationIcon {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 5%;
    right:10%; */
    background-color: var(--sec-color);
}
