.container {
    border: 1px solid red;
}

.top {
    border: 1px solid blue;
}

.middle {
    border: 1px solid blue;
    position: sticky;
    top: var(--header-height);
    z-index: 3;
}

.bottom {
    border: 1px solid green;
}