.container {
    border: 1px solid red;
}

.labelWrapper {
    /* border: 2px solid green; */
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0.2rem;
}

.input {
    color: var(--text-color);
    padding: 14px 8px;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    border: 1px solid yellow;
    /* background-color: #f8f8f8; */
}

.input:focus {
    outline: 2px solid var(--prim-border-color);
}

.inputError {
    border: 1px solid var(--error-color);
}

.inputContains {
    border: 1px solid var(--text-color);
    
    /* border: 1px solid var(--color); */
}

.inputErrorReport {
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.3rem;
    min-height: 25px;
    color: var(--error-color);
    font-size: 0.85rem; 
}

.inputErrorReport span {
    margin-left: 0.3rem;
}