.container {
    border: 1px solid red;
    padding: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.04);
}

.childWrapper {
    margin-bottom: 0.4rem;
}


.childWrapper:last-of-type {
    margin-bottom: 0;
}